# Apply different settigns for different terminals
case $(basename "$(cat "/proc/$PPID/comm")") in
  login)
      source {{ zsh_path }}/zsh-maia-prompt
    	alias x='startx ~/.xinitrc'
    ;;
  *)
      if [[ $TERM == "linux" ]]; then
        # TTY does not have powerline fonts
        source {{ zsh_path }}/zsh-maia-prompt
        alias x='startx ~/.xinitrc'
        
      elif [[ "$USE_POWERLINE" == "true" ]]; then
        # Use powerline
        source {{ zsh_path }}-theme-powerlevel10k/powerlevel10k.zsh-theme
        [[ ! -f {{ zsh_path }}/p10k.zsh ]] || source {{ zsh_path }}/p10k.zsh
        source {{ zsh_path }}/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
        ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=20
        ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=8'

      else
        # Don't use powerline anyway
        source {{ zsh_path }}/zsh-maia-prompt
        source {{ zsh_path }}/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
        ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=20
        ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=8'
      fi
    ;;
esac
